* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 147, 147);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.header h1,
h2 {
  margin-bottom: 0.5rem;
}
.header p {
  font-size: 25px;
  text-align: center;
}

.grid {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgb(241, 235, 235);
}

.mole {
  background: url(./Darth-Vader.jpeg) no-repeat center center;
  background-size: cover;
}

.btn {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin: 20px auto;
  padding: 12px 20px;
  border: none;
  outline: none;
  box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  transition: all, 0.5s ease-in-out;
}
.btn:hover {
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 1);
  transform: scale(0.98);
}
